@import "./styles/main.scss";
@import "./styles/components.scss";
* {
  box-sizing: border-box;
}

.ant-modal-content {
  background-color: #181818 !important;
  padding: 0 !important;

  .anticon svg {
    fill: #fff;
  }
}

.leaflet-container,
.leaflet-control-attribution {
  background-color: transparent !important;
}

.leaflet-interactive {
  outline: none !important;
}

.highcharts-credits {
  display: none;
}


.highcharts-grid-line {
  display: none;
}
