* {
    box-sizing: border-box;
}

.ant-modal-content {
    background-color: #181818 !important;
    padding: 0 !important;

    .anticon svg{
        fill: #fff; 
    }
}

.leaflet-container,
.leaflet-control-attribution{
    background-color: transparent !important;
}

.leaflet-interactive{
    outline: none !important;
}

.highcharts-credits{
    display: none;
}

.btn{
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: max-content;
    padding: 3px 15px;
    font-size: 12px;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;

    &.mini{
        padding: 3px 10px;
        font-size: 9px;
    }

    &.active{
        border: 1px solid #3090E8;
        background: #3090E8;
        color: #fff;
    }

    &:hover{
        border: 1px solid #3090E8;
        background: #3090E8;
        color: #fff;
    }
}

.highcharts-grid-line{
    display: none;
}